body{

    height: auto;
    font-size: small;
}

#linksMain{
    display: flex;
    justify-content: right;
    margin-top: 15px;
    margin-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    text-decoration: none;
    color: #3b3b3b;
   
}
#iconG{
  margin-left: 20px;
  align-self: center;

}

#l1{
    text-decoration: none;
    color: #3b3b3b;
    align-self: center;
}
#l2{
    margin-left: 20px;
    text-decoration: none;
    color: #3b3b3b;
    align-self: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

img{
    display: block;
}
.logo{
    width: 272px;
    height: 92px;
    margin-bottom: 25px;
}

.formContainer{

    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}


.search-icon{
    width: 25px;
    height: 25px;
 
}

#searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    padding: 10px;
    padding-right: 1.5rem;
    border: 0.1px solid #ddd;
    border-radius: 30px;
    
}

#search-input{
    width: 95%;
    border: none;
    outline: none;
}

#searchbar:hover,
#searchbar:focus-within {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.linebreak{

    width: 100%;

}

#buttons{

    margin-top: 25px;
    display: flex;
    justify-content: center;
    
}

#b1{
    margin-right: 10px;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 0.1px solid  #ddd;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: arial,sans-serif;
    font-size: 14px;
}

#b1:hover,
#b1:focus-within {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

#b2{
    background-color: #f8f9fa;
    border-radius: 4px;
    border: 0.1px solid  #ddd;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: arial,sans-serif;
    font-size: 14px;
}
#b2:hover,
#b2:focus-within {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}