body{

    height: auto;
    font-size: small;
}

#linksMain{
    display: flex;
    justify-content: right;
    margin-top: 15px;
    margin-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    text-decoration: none;
    color: #3b3b3b;
   
}
#iconG{
  margin-left: 20px;
  align-self: center;

}

#l1{
    text-decoration: none;
    color: #3b3b3b;
    align-self: center;
}
#l2{
    margin-left: 20px;
    text-decoration: none;
    color: #3b3b3b;
    align-self: center;
}


#logoContainer{

    display: flex;
    justify-content: center;
    max-height: 290px;

}

.logo{

    max-height: 100%;
    max-width: 100%;

}

.formContainer{

    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

#input{

    display: flex;
    justify-content: center;  
    width: 100%;

}
#searchbar{
    margin-top: 20px;
    width: 500px;
    height: 50px;
    border-radius: 30px;
}

.linebreak{

    width: 100%;

}
#buttons{

    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
#b1{
    margin-right: 10px;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: arial,sans-serif;
    font-size: 14px;
}
#b2{
    background-color: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: arial,sans-serif;
    font-size: 14px;
}